.intro__list {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  color: #FFFFFF;
}

@media screen and (max-width: 1100px) {
  .intro__list {
    max-width: 690px;
  }
}
