.footer__link-sector {
  margin: 0;
  padding: 0;
  border: 0;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(5, auto);
  gap: 18px;
  list-style-type: none;
}

@media screen and (max-width: 685px) {
  .footer__link-sector {
    display: flex;
    flex-direction: column;
    align-content: space-between;
  }
}
