.footer__link {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  color: #FFFFFF;
}

@media screen and (max-width: 900px) {
  .place {
    margin-top: 73px;
  }
}

@media screen and (max-width: 710px) {
  .place {
    margin-top: 50px;
    display: grid;
    grid-template-areas:
    "title"
    "website"
    "image"
    "text";
  }
}
