.intro {
  width: 984px;
}

@media screen and (max-width: 1140px) {
  .intro {
    width: 90.625%;
  }
}

@media screen and (max-width: 984px) {
  .intro {
    width: 93.75%;
  }
}

@media screen and (max-width: 568px) {
  .intro {
    width: 90%;
  }
}
