.place__link {
  margin: 0;
  padding: 0;
  border: 0;
  transition: opacity 0.8s;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.place__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 900px) {
  .place__link {
    font-size: 18px;
    line-height: 22px;
  }
}
