.place__website_top {
  margin-top: 16%;
}

@media screen and (max-width: 900px) {
  .place__website_top {
    margin-top: 46px;
  }
}

@media screen and (max-width: 710px) {
  .place__website_top {
    margin-top: 0;
    margin-bottom: 0;
  }
}
