.place__url-heading {
  margin: 0;
  padding: 0;
  border: 0;
  margin-bottom: 12px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.2em;
  color: #AAAAAA;
}

@media screen and (max-width: 900px) {
  .place__url-heading {
    font-size: 12px;
    line-height: 100%;
  }
}

@media screen and (max-width: 710px) {
  .place__url-heading {
    margin: 0;
  }
}
